@{
}

<div class="container">
    <h1>Concrete Creations</h1>

    <p>Working with concrete is more than just a hobby for me—it's a job. I've done concrete for quite some time now and am next week going to finish everything I need for my concrete contractors license.</p>

    <br>

    <div class="image-container">
        <p>Some projects I've done</p>
        <img src=~/IMG_0452.jpeg height="500" />
        <img src=~/IMG_1642.jpeg height="500" /></div>

    <p>I am exited to start my own company so that I can do jobs on my own time when I am not in class or doing homework.</p>
    <br>
    <p>I hope that this will give me the flexibility to work and make the money I need to support my family!</p>
    <br>
</div>
